/* ===================== */
/* .banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.slider {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.slide {
    flex: 0 0 100%;
}

img {
    width: 100%;
    height: auto;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
} */

/* ================== */



@font-face {
    font-family: Mt;
    src: url(https://mytour.vn/fonts/Mt/Mt-Regular.otf);
    font-display: swap;
}

body {
    background: white;
    font-family: Mt, -apple-system, BlinkMacSystemFont, sans-serif;
    color: rgba(0, 0, 0, 0.87);
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: Mt, -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    font-size: 12px;
    font-family: Mt;
    font-weight: normal;
    line-height: 14px;
    background-color: #fff;
}

html {
    padding: 0;
    margin: 0;
    font-family: Mt, -apple-system, BlinkMacSystemFont, sans-serif;
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.jss162 {
    width: 100%;
    margin: 12px auto 4px;
    position: relative;
    max-width: 1188px;
    background: white;
}

*,
:before,
:after {
    box-sizing: inherit;
}

:-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

:-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

:-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #a0a0a0;
}

:-webkit-scrollbar-thumb {
    background: #bdbdbd;
    border-radius: 8px;
}

:-webkit-scrollbar-track {
    background: #e0e0e0;
}

.slick-slider {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-slider {
    position: relative;
    display: block;
}

.jss163 {
    border-radius: 8px;
}

.jss171 {
    top: 0;
    right: -9px;
    width: 214px;
    height: 100%;
    z-index: 0;
    position: absolute;
    background: linear-gradient(-90deg, #FFFFFF 2.34%, rgba(196, 196, 196, 0) 100%);
}

.JTravel-Banner {
    clear: both;
    position: relative;
}

.slick-list {
    position: relative;
    display: block;
}

.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-slider .slick-list {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.jss163>.slick-list {
    width: calc(100% + 16px);
    margin: 0 -8px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.jss632 {
    bottom: -35px !important;
}

.jss166 {
    bottom: 0px !important;
    position: relative;
    margin-top: -4px !important;
}

a {
    color: inherit;
    text-decoration: none;
}

.JTravel-Banner .jtravel-banner-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track {
    margin-left: 0;
    margin-right: 0;
}

.slick-slider .slick-track {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.slick-track:after,
.slick-track:before {
    display: table;
    content: "";
}

.slick-track:after {
    clear: both;
}

svg {
    display: block;
}

.jss168 {
    width: 16px;
    height: 17px;
    stroke: #1a202c;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
}

.slick-dots li {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.jss166 li {
    width: 16px;
    height: 2px;
    margin: 0 2px;
}

.JTravel-Banner .jtravel-close {
    position: absolute;
    right: 2px;
    top: 2px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0);
    border-radius: 2px;
    padding: 2px;
    height: 14px;
    width: 14px;
    line-height: .5;
    background-color: #58585a;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.slick-initialized .slick-slide {
    display: block;
}

.jss633 {
    width: 10px;
    border: solid 1px #2e8af1;
    height: 10px;
    border-radius: 10px;
    background-color: #fdfdfd;
}

.jss166 li div {
    width: 16px;
    border: none;
    height: 2px;
    border-radius: 100px;
    background-color: #EDF2F7;
}

.slick-dots .slick-active div {
    background-color: #f36;
    border-color: #f36;
}

.slick-slide div {
    outline: none;
}

.jss170 {
    width: 465px !important;
    cursor: pointer;
    height: 195px;
    margin: 12px;
    position: relative;
}

.MuiTypography-root {
    margin: 0;
}

.MuiTypography-colorPrimary {
    color: #00B6F3;
}

.MuiLink-underlineHover {
    text-decoration: none;
}

.MuiLink-underlineHover:hover {
    text-decoration: underline;
}

.jss164 {
    width: 465px;
    height: 195px;
    object-fit: cover;
    border-radius: 8px;
}

.slick-slide img {
    display: block;
}


/* These were inline style tags. Uses id+class to override almost everything */
#style-bxZKx.style-bxZKx {
    width: 46956px;
    opacity: 1;
    transform: translate3d(-6357px, 0px, 0px);
}

#style-hd17S.style-hd17S {
    width: 100%;
    display: inline-block;
}

#style-5DTPl.style-5DTPl {
    width: 100%;
    display: inline-block;
}

#style-iGZS2.style-iGZS2 {
    width: 100%;
    display: inline-block;
}

#style-WcFLS.style-WcFLS {
    width: 100%;
    display: inline-block;
}

#style-dhflk.style-dhflk {
    width: 100%;
    display: inline-block;
}

#style-HkKSj.style-HkKSj {
    width: 100%;
    display: inline-block;
}

#style-ZZxgk.style-ZZxgk {
    width: 100%;
    display: inline-block;
}

#style-t9PZF.style-t9PZF {
    width: 100%;
    display: inline-block;
}

#style-WNaTT.style-WNaTT {
    width: 100%;
    display: inline-block;
}

#style-y45h2.style-y45h2 {
    width: 100%;
    display: inline-block;
}

#style-jHqcv.style-jHqcv {
    width: 100%;
    display: inline-block;
}

#style-dzBgk.style-dzBgk {
    width: 100%;
    display: inline-block;
}

#style-yAlWA.style-yAlWA {
    width: 100%;
    display: inline-block;
}

#style-KRP7n.style-KRP7n {
    outline: none;
}

#style-BV7ZV.style-BV7ZV {
    width: 100%;
    display: inline-block;
}

#style-fqz5K.style-fqz5K {
    outline: none;
}

#style-x8Rtj.style-x8Rtj {
    width: 100%;
    display: inline-block;
}

#style-HCWTZ.style-HCWTZ {
    outline: none;
}

#style-VDAyR.style-VDAyR {
    width: 100%;
    display: inline-block;
}

#style-d6QNq.style-d6QNq {
    outline: none;
}

#style-xcbHK.style-xcbHK {
    width: 100%;
    display: inline-block;
}

#style-cWNrA.style-cWNrA {
    outline: none;
}

#style-BZyZW.style-BZyZW {
    width: 100%;
    display: inline-block;
}

#style-DcnXm.style-DcnXm {
    outline: none;
}

#style-YdqT8.style-YdqT8 {
    width: 100%;
    display: inline-block;
}

#style-eKLae.style-eKLae {
    outline: none;
}

#style-xDR9b.style-xDR9b {
    width: 100%;
    display: inline-block;
}

#style-nqEDQ.style-nqEDQ {
    outline: none;
}

#style-6d4zx.style-6d4zx {
    width: 100%;
    display: inline-block;
}

#style-mv2jl.style-mv2jl {
    outline: none;
}

#style-Pd7Ee.style-Pd7Ee {
    width: 100%;
    display: inline-block;
}

#style-RQ2i4.style-RQ2i4 {
    outline: none;
}

#style-sDpGM.style-sDpGM {
    width: 100%;
    display: inline-block;
}

#style-FSZHx.style-FSZHx {
    outline: none;
}

#style-xZkJb.style-xZkJb {
    width: 100%;
    display: inline-block;
}

#style-UgpR7.style-UgpR7 {
    outline: none;
}

#style-NF8dl.style-NF8dl {
    width: 100%;
    display: inline-block;
}

#style-UJGTb.style-UJGTb {
    outline: none;
}

#style-HHp81.style-HHp81 {
    width: 100%;
    display: inline-block;
}

#style-Frrh1.style-Frrh1 {
    width: 100%;
    display: inline-block;
}

#style-lwXXr.style-lwXXr {
    width: 100%;
    display: inline-block;
}

#style-8lrIo.style-8lrIo {
    width: 100%;
    display: inline-block;
}

#style-ZRMQq.style-ZRMQq {
    width: 100%;
    display: inline-block;
}

#style-28Hvf.style-28Hvf {
    width: 100%;
    display: inline-block;
}

#style-oaAoY.style-oaAoY {
    width: 100%;
    display: inline-block;
}

#style-ivjR2.style-ivjR2 {
    width: 100%;
    display: inline-block;
}

#style-GQRMY.style-GQRMY {
    width: 100%;
    display: inline-block;
}

#style-3gghY.style-3gghY {
    width: 100%;
    display: inline-block;
}

#style-bbpNw.style-bbpNw {
    width: 100%;
    display: inline-block;
}

#style-oPiwW.style-oPiwW {
    width: 100%;
    display: inline-block;
}

#style-hO9si.style-hO9si {
    width: 100%;
    display: inline-block;
}

#style-8Z357.style-8Z357 {
    width: 100%;
    display: inline-block;
}

#style-4wWCz.style-4wWCz {
    background: white;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 12px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    right: -38px;
}

#style-TW5vc.style-TW5vc {
    margin: 0px;
}

#170.style-dzPMr {
    overflow: hidden;
    margin: 10px 0px 0px;
    border-radius: 5px;
}

#style-GZDiF.style-GZDiF {
    display: block;
    height: auto;
    width: 100%;
    max-height: 100vh;
    max-width: 100vw;
}