@font-face {
    font-family: Mt;
    src: url(https://mytour.vn/fonts/Mt/Mt-Regular.otf);
    font-display: swap;
}

body {
    color: #1a202c;
    font-size: 14px;
    font-weight: normal;
    line-height: 17px;
    font-family: Mt, -apple-system, BlinkMacSystemFont, sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: Mt, -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    font-size: 12px;
    font-family: Mt;
    font-weight: normal;
    line-height: 14px;
    background-color: #fff;
}

html {
    padding: 0;
    margin: 0;
    font-family: Mt, -apple-system, BlinkMacSystemFont, sans-serif;
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
:before,
:after {
    box-sizing: inherit;
}

:-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

:-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

:-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #a0a0a0;
}

:-webkit-scrollbar-thumb {
    background: #bdbdbd;
    border-radius: 8px;
}

:-webkit-scrollbar-track {
    background: #e0e0e0;
}

.jss3289 {
    width: 100%;
    display: flex;
    padding: 8px;
    background: white;
    align-items: center;
    border-radius: 8px;
    justify-content: space-between;
}

.jss3295 {
    border-left: 1px solid #E2E8F0;
}

.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.MuiButton-root {
    color: rgba(0, 0, 0, 0.87);
    padding: 0 8px;
    font-size: 14px;
    min-width: unset;
    box-sizing: border-box;
    min-height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: Mt;
    font-weight: 500;
    line-height: auto;
    border-radius: 4px;
    text-transform: none;
}

.MuiButton-contained {
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    background-color: #e0e0e0;
}

.MuiButton-containedSecondary {
    color: #fff;
    background-color: #FF3366;
}

.MuiButton-root:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.04);
}

.MuiButton-contained:hover {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    background-color: #d5d5d5;
}

.MuiButton-containedSecondary:hover {
    background-color: rgb(178, 35, 71);
}

svg {
    display: block;
}

.jss3297 {
    position: relative;
}

.jss3317 {
    display: flex;
    align-items: center;
}

.jss3329 {
    display: flex;
    align-items: center;
}

.MuiButton-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}

.MuiTouchRipple-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}

.jss3294 {
    margin-left: 16px;
}

.jss3292 {
    color: #4A5568;
    font-size: 12px;
    text-align: left;
    font-weight: 400;
    line-height: 14px;
}

.jss3318 {
    padding-right: 32px;
}

.jss3303 {
    top: 5px;
    left: 0;
    color: #1a202c;
    overflow: hidden;
    position: absolute;
    font-size: 16px;
    max-width: 200px;
    font-family: Mt;
    font-weight: normal;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.MuiInputBase-root {
    color: rgba(0, 0, 0, 0.87);
    cursor: text;
    display: inline-flex;
    position: relative;
    font-size: 16px;
    box-sizing: border-box;
    align-items: center;
    font-family: Mt;
    font-weight: normal;
    line-height: 1.1876em;
}

.MuiInput-root {
    position: relative;
}

.jss3290 {
    color: #1a202c;
    width: 200px;
    z-index: 2;
    font-size: 16px;
    font-family: Mt;
    font-weight: 600;
    line-height: 20px;
    border-radius: 8px;
    margin-bottom: -6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.jss3296 {
    width: 100%;
    height: 3px;
    margin: auto;
    margin-top: 12px;
    margin-bottom: -17px;
}

.jss3293 {
    color: #1a202c;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    padding-top: 6px;
}

.MuiSwitch-root {
    width: 58px;
    height: 38px;
    display: inline-flex;
    padding: 12px;
    z-index: 0;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    flex-shrink: 0;
    vertical-align: middle;
}

.jss3321 {
    top: -12px;
    left: 70px;
    position: absolute;
}

strong {
    font-weight: 700;
}

.MuiInputBase-input {
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1.1876em;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    animation-duration: 10ms;
    -webkit-tap-highlight-color: transparent;
}

.MuiIconButton-root {
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    padding: 12px;
    overflow: visible;
    font-size: 1.7142857142857142rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
}

.jss3323 {
    padding: 9px;
}

.MuiSwitch-switchBase {
    top: 0;
    left: 0;
    color: #fafafa;
    z-index: 1;
    position: absolute;
    transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.MuiIconButton-root:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.MuiSwitch-track {
    width: 100%;
    height: 100%;
    opacity: 0.38;
    z-index: -1;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 7px;
    background-color: #000;
}

.jss3301 {
    color: #718096;
}

.MuiIconButton-label {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}

.jss3326 {
    top: 0;
    left: 0;
    width: 100%;
    cursor: inherit;
    height: 100%;
    margin: 0;
    opacity: 0;
    padding: 0;
    z-index: 1;
    position: absolute;
}

.MuiSwitch-input {
    left: -100%;
    width: 300%;
}

.MuiSwitch-thumb {
    width: 20px;
    height: 20px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 50%;
    background-color: currentColor;
}


@keyframes mui-auto-fill-cancel {}

/* These were inline style tags. Uses id+class to override almost everything */
#style-raH7T.style-raH7T {
    border: none;
    margin-top: 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 15px;
}

#style-o9ml3.style-o9ml3 {
    position: relative;
}

#style-wbvN8.style-wbvN8 {
    opacity: 1;
}

#style-4pfdW.style-4pfdW {
    opacity: 0;
}

#style-jfPJf.style-jfPJf {
    background: transparent;
}

#style-YqWaH.style-YqWaH {
    position: relative;
}

#style-KH2Ak.style-KH2Ak {
    opacity: 0;
}

#style-iH7o4.style-iH7o4 {
    opacity: 1;
}

#style-sUxPO.style-sUxPO {
    background: transparent;
}

#style-Hgs7M.style-Hgs7M {
    margin-left: 24px;
    position: relative;
    min-width: 275px;
}

#style-Esjez.style-Esjez {
    background: transparent;
}

#style-5RfRn.style-5RfRn {
    position: relative;
}

#style-D1Qpy.style-D1Qpy {
    background: transparent;
}

#style-4BEfB.style-4BEfB {
    margin-left: 24px;
    position: relative;
}

#style-7LS8o.style-7LS8o {
    text-align: left;
    width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#style-jYWVb.style-jYWVb {
    background: transparent;
}

#style-WJwY2.style-WJwY2 {
    width: 100px;
    height: 56px;
    cursor: not-allowed;
    border-radius: 8px;
    box-shadow: none;
}